.Bezier {
    position: relative;
    box-sizing: border-box;
    border: solid 1px;
    height: 100%;
    width: 100%;
}

.Bezier .BackgroundCanvas {
    position: absolute;
    
}

.Bezier .Menu {
    margin-left: 700px;
}

.Bezier .MainCanvas {
    position: absolute;
}