.Bezier {
    position: relative;
    box-sizing: border-box;
}

.BackgroundCanvas {
    position: absolute;
    box-sizing: border-box;
    border: solid 1px black;
}

.Bezier .Wrapper {
    position: relative;
    box-sizing: border-box;
}

.Bezier .MainCanvas {
    position: absolute;
}