.active .CanvasWrapper .Canvas:hover {
    border: 1px solid blue;
}

.CanvasWrapper {
    user-select: none; 
    position: relative;
   float: left;
   margin: 0px 5px 5px 5px;
}

.Canvas {
    border: 1px solid;
    box-sizing: border-box;
}