.active .CanvasWrapper .Canvas:hover {
    border: 1px solid blue;
}

.Field {
    position: absolute;
    
}

.Scoreboard {
    height: 20px;
    margin-top: 225px;
}
.CanvasWrapper {
    width: 220px;
    height: 220px;
    user-select: none; 
    position: relative;
   float: left;
   margin: 0px 5px 5px 5px;
}

.Canvas {
    position: absolute;
    border: 1px solid;
    box-sizing: border-box;
}