.PointComponent {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 100;
}

.isConnection:hover {
    transform: scale(1.3);
}

.isConnection {
    border: 1px solid;
}