.Y_Projection {
    position: relative;
    box-sizing: border-box;
    
    height: 100%;
    width: 100%;
}

.Y_Projection .Wrapper {
    position: relative;
    box-sizing: border-box;
   
}

.Y_Projection .Wrapper .BackgroundCanvas{
    position: absolute;
}
.Y_Projection .Wrapper .MainCanvas {
    position: absolute;
}